%icon{
    background: url('/static/images/icon.png') no-repeat;
    display: inline-block;
    vertical-align: middle;
}
.ryt-icon-loading{
    @extend %icon;
    width: 16px;
    height: 16px;
    background-position: -3px -2px;
    animation: rotating 2s linear infinite;
}
.ryt-icon-edit{
    @extend %icon;
    width: 16px;
    height: 16px;
    background-position: -2px -21px;
}
.ryt-open-eye{
    @extend %icon;
    width: 16px;
    height: 16px;
    background-position: -2px -44px;
}
.ryt-close-eye{
    @extend %icon;
    width: 16px;
    height: 16px;
    background-position: -2px -65px;
}
@keyframes rotating{
    // 0% {
    //     @include transform(rotate(0deg));
    // }
    // 25% {
    //     @include transform(rotate(90deg));
    // }
    // 50% {
    //     @include transform(rotate(180deg));
    // }
    // 75% {
    //     @include transform(rotate(270deg));
    // }
    // 100%{
    //     @include transform(rotate(360deg));
    // }
}