$prefixWebkit:      true !default;   //-webkit-
$prefixMoz:         true !default;   //-moz-
$prefixMs:          true !default;   //-ms-
$prefixNo:          true !default;   //标准
//color
$black:#000;
$white:#fff;
$bodBg:#2b2b2b;
$color-main: #ffc34e;
$color-border: #d8dce5;
$color-gray: #929292;
$color-success: #67c23a;
$color-warning: #eb9e05;
$color-danger: #fa5555;
$color-main-hover: #fad794;
$color-gray-hover: #abaaaa;
$color-success-hover: #86d65e;
$color-warning-hover: #fab429;
$color-danger-hover: #fa8f8f;
//fontsize
$font10:10px;
$font12:12px;
$font14:14px;
$font15:15px;
$font16:16px;
$font18:18px;
$font20:20px;
$font24:24px;
//screen width
$sw1:320px;
$sw2:360px;
$sw3:375px;
$sw4:384px;
$sw5:414px;
$sw6:480px;
$sw7:640px;
$sw8:768px;

$url:'../images/';

