$prefixWebkit:      true !default;   //-webkit-
$prefixMoz:         true !default;   //-moz-
$prefixMs:          true !default;   //-ms-
$prefixNo:          true !default;   //标准
//color
$black:#000;
$white:#fff;
$bodBg:#2b2b2b;
$main: #ffc34e;
$mainHight: #ffe1a6;
$headerBg: #313131;
$grayBg: #eeeeee;
$fontGray: #a0a0a0;
$border: #e3e3e3;
$gray: #929292;
$fontBlack:#0b0b0b;
$warning: #e94a48;
$link: #3a7efb;
$green: #45c084;
//fontsize
$font10:10px;
$font12:12px;
$font14:14px;
$font15:15px;
$font16:16px;
$font18:18px;
$font20:20px;
$font24:24px;
//screen width
$sw1:320px;
$sw2:360px;
$sw3:375px;
$sw4:384px;
$sw5:414px;
$sw6:480px;
$sw7:640px;
$sw8:768px;

$url:'/static/images/';

