@import 'variable';
.mint-header{
    background-color:$headerBg; 
    .mint-header-title{
        color: $white
    }
    .mintui-back{
        color: $white;
    }
}
.mint-field-core{
    color: $gray;
}
.mint-msgbox{
    border-radius: 20px;
    padding: 25px 25px 0;
}
.mint-msgbox-header{
    padding-top: 0;
}
.mint-msgbox-content{
    padding:0;
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: 0;
}
.mint-msgbox-confirm{
    color: $main;
}
.mint-msgbox-title{
    font-size: 16px;
}
.mint-field-other{
    width: 30px;
}
.mint-cell{
    height: 58px;
}
.mint-cell .mint-cell-wrapper{
    background-image:none;
    position: relative;
    height: 48px;
    margin-top: 10px;
}
.field-cell{
    padding-left:20px;
    .mint-cell .mint-cell-wrapper{
        &:before{
            content: "";
            position: absolute;
            height: 1px;
            background: $border;
            left: 110px;
            right: 0;
            bottom: 0;
        }
    }
    .mint-cell-allow-right::after{
        margin-top: 5px;
    }
    .mint-cell-title{
        width: 105px;
        flex: none;
        span{
            color: $fontBlack;
        }
    }
    .mint-cell-value span{
        color: $gray;
    }
    .mint-cell.last-cell{
        background-image: none;
        & .mint-cell-wrapper:before{
            content: "";
            height: 0;
        }
    }
    .mint-cell:last-child{
        background-image: none;
    }
}
.cell-show{
    padding: 0 25px;
    .mint-cell .mint-cell-wrapper{
        padding: 0;
    } 
    .mint-cell:last-child{
        background-image: none;
    } 
    .mint-cell .mint-cell-wrapper{
        &:before{
            content: "";
            position: absolute;
            height: 1px;
            background: $border;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }  
}
.mint-button--primary{
    background-color: $main;
    border-radius: 20px;
}
.mint-checkbox-input:checked + .mint-checkbox-core{
    background-color: $white;
    border-color: $gray;
}
.mint-checkbox-core{
    border-color: $gray;
}
.mint-toast{
    padding: 32px 50px !important;
    border-radius: 20px;
    width: 70%;
}
.mint-toast-text{
    color: #fff;
    text-align: left;
    font-size: 14px;
    line-height: 25px;
}
.mint-datetime{
    width: 96%;
    border-radius: 10px;
    padding: 25px 18px;
    bottom: 25px;
}
.mint-datetime-picker{
    position: relative;
    .picker-items{
        margin-bottom: 140px;
    }
    .mint-datetime-action{
        width: 100%;
        border-radius: 10px;
        text-align: center;
        color: #fff;
    }
    .picker-toolbar{
        border-bottom: none;
        position: absolute;
        bottom: 15px;
        width:100%;
        height: auto;
    }
    .mint-datetime-cancel{
        background-color: $mainHight;
    }
    .mint-datetime-confirm{
        background-color: $main;
        margin-top: 15px;
    }
    .picker-item{
        color: #cfcfcf;
    }
    .picker-item.picker-selected{
        color: $main;
    }
    .picker-center-highlight:before,.picker-center-highlight:after{
        background: none;
    }
    .picker-center-highlight{
        border-radius: 10px;
        background: #989898;
        z-index: -1;
    }
}
.main{
    margin-top: 40px;
}
.field-title{
    height: 25px;
    line-height: 25px;
    background-color: $grayBg; 
    color: $fontGray;
    font-size: $font14;
    padding: 0 20px;
}
.btn-block{
    width: 270px;
    height: 54px;
}
.btn-center{
    display: block;
    margin: 15px auto 10px; 
}
.ryt-checkbox.mint-cell{
    background-image: none;
    min-height: auto;
    .mint-cell-wrapper {
        background-image: none;
    }
    .mint-checkbox-label{
        font-size: 12px;
        margin-left: 0;
    }
    .mint-checklist-label{
        text-align: center;
    }
    .mint-checkbox-core{
        width: 16px;
        height: 16px;
        border-radius: 4px;
        &:after{
            top: 1px;
            left: 5px;
            border-color:$gray;
            border-width: 1px;
        }
    }
}
.bind-card-qus{
    text-decoration: none;
    color: $gray;
    font-size: 14px;
    position: fixed;
    bottom: 17px;
    left: 50%;
    margin-left: -64px;
}
.password-rule{
    position: fixed;
    bottom: 15px;
    left: 50%;
    margin-left: -68px;
    color: $warning;
    font-size: 14px;
    background: none;
    box-shadow: none;
    outline: none;
    &:active:after{
        background-color: $white;
    }
}
.date-btn{
    background: none;
    box-shadow: none;
    padding: 0;
    width: 100%;
    &:active:after{
        background-color: $white;
    }
    .mint-button-text{
        font-size: 16px;
        color: $gray;
    }
}
.checkbox-a{
    line-height: 22px;
    a{
        color: $link;
    }
}
.bill-in .mint-cell-value span{
    color: $warning;
}
.bill-out .mint-cell-value span{
    color: $green;
}
